.btnsWrapper {
    display: flex;
    flex: 1;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btnsWrapper > button + button {
    margin-top: 20px;
}

.sendWrapper {
    display: flex;
    align-items: center;
}

.messageInputWrapper {
    width: 100%;
    flex: 3;
}

.chatList {
    display: flex;
    flex-direction: column;
    height: 75vh;
    overflow: scroll;
}

.message {
    background-image: linear-gradient(to right, #FF9A5C , #FF4355);
    margin-bottom: 15px;
    align-self: flex-start;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    max-width: 60%;
    white-space: pre-line;
}