.wrapper {
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #ababab;
    overflow: hidden;
    border: 1px solid lightgray;
    margin-top: auto;
}

.header {
    background-color: #F8F9FC;
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid lightgray;
    color: #000;
    font-weight: 700;
    font-size: 15px;
}

.body {
    padding: 25px 15px 15px 15px;
    margin: 0;
    width: 100%;
}

.textarea {
    width: 100%;
    border: none;
    resize: none;
    height: 80px;
    outline: none;
    font-size: 16px;
}

.textarea::placeholder {
    font-size: 16px;
    color: #BFC6D5;
}

.footer {
    display: flex;
    padding: 15px;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}
